<div class="status-item">
  <div class="status-item-det">
    <img
      src="../../../assets/img/bird-item.jpg"
      alt=""
      width="50px"
      height="50xp"
      class="image"
    />
    <img
      class="pulse-image"
      src="../../../assets/img/pulse.png"
      alt=""
      width="40px"
      height="40xp"
    />
    <div class="head-title"><h3>Humming</h3></div>
    <div class="status-time">
      <p class="time-text">Last Updated</p>
      <p class="time-time">10.00 AM</p>
    </div>

    <div class="status-table">
      <table>
        <tbody>
          <tr>
            <td>STATUS</td>
            <td>Critical</td>
          </tr>
          <tr>
            <td>PROGRESS</td>
            <td>Started having food</td>
          </tr>
          <tr>
            <td>NEEDS</td>
            <td>Urgent attention</td>
          </tr>
        </tbody>
      </table>
    </div>

    <button class="update-status">Update Status</button>
  </div>
</div>
